* {
	margin: 0;
	padding: 0;
}

/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font: inherit;
	font-size: 100%
}*/

ol,ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,th,td {
	vertical-align: middle;
	text-align: left;
	font-weight: normal
}



a img {
	border: 0
}
img{
	display: block;
}


body {
	background: #fcf7d9;
	font-size: 12px;
	font-family: "Microsoft YaHei","Droid Sans Fallback","Rounded MT Bold",tahoma,Arial,"\5B8B\4F53",sans-serif;
	/*line-height: 1.6;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

a {
	color: #333;
	text-decoration: none
}

input {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	vertical-align: middle;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none
}
.banner-main{
	/*border: solid 1px blue;*/
}
.banner-main img{
	display: block;
	width: 100%;
	height: auto;
}


.roll-box,.examine,.draw,.count{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-clip:padding-box;
}

/*---------------------------------------------------------------------------------*/
.main-bg{
	background: #ffcc01;
	padding-top: 1px;
	overflow: hidden;
}
.main-middle{
	clear: both;
	/*border: solid 1px blue;*/
	width: 95%;
	margin: 0 auto;
}
.roll-bg{
	/*border: solid 1px green;*/
	height: 30px;
	display: -webkit-box;
	margin-top:30px;
	
}
.roll-box{
	-moz-box-flex: 1; 
 	-webkit-box-flex: 1; 
  	box-flex: 1;
	color: #c91b1d;
	padding: 0 5px;
	margin-right:10px;
	overflow: hidden;

}
.examine{
	background: #c91b1d;
	padding: 0 10px;
	color: #fff;
	-moz-box-flex: 0; 
 	-webkit-box-flex: 0; 
  	box-flex: 0;
}
.roll-box,.examine{
	font-size: 16px;
	line-height: 28px;
	height: 28px;
	border: solid 1px #c91b1d;
	/*display: none;*/
}
/*--------------------------------------------------------------------------------*/
.roll-box ul{

}
.roll-box li{
	/*border: solid 1px #fff;*/
	height: 28px;
	line-height: 28px;
	display: block;
	list-style: none;
	/*text-align: center;*/
	font-size: 16px;
	overflow: hidden;
}
/*----------------------------------------------------------------------------------*/
.big-box{
	/*border: solid 1px blue;*/
	text-align: center;
	width: 320px;
	height: 320px;
	margin: 30px auto;
	position: relative;
}
.big-box img{
	width: 100%;
	height: auto;
}
.small-box{
	/*border: solid 1px red;*/
	position: absolute;
	left:110px;
	bottom: 110px;
	width: 100px;
	height: 107px;


}
/*-------------------------------------------------------------------------------------*/


.draw{
	width: 35%;
	margin: 0 auto 20px;
	text-align: center;
	background: #fff;
	/*background: url(../images/draw-bg.png) repeat-x left -10px;*/
	-moz-box-shadow: 1px 1px 3px #6F6F6F;
	-webkit-box-shadow: 1px 1px 3px #6F6F6F; 
	box-shadow: 1px 1px 3px #6F6F6F;
}
.count{
	/*width: 95%;*/
	margin: 0 auto 20px;
	background: #fff;
	/*display: none;*/
}
.draw,.count{
	height: 40px;
	line-height: 40px;
	border: solid 1px #896124;
	text-align: center;
	font-size: 18px;
	color: #896124;
}
/*--------------------------------------------------------------------------------------*/

.rule-title{
	/*border: solid 1px green;*/
	font-size: 18px;
	color: #6f501a;
	line-height: 30px;
}
.rule-main{
	/*border: solid 1px green;*/
	font-size: 14px;
	margin: 5px 0 20px;
	background: #fcefaa;
	color: #ce8939;
	line-height: 25px;
	padding: 10px;
}
/*-------------------------------------------------------------------------------------------*/
.wave{
	width: 100%;
	/*width: 100px;*/
	/*height: 15px;*/
	height: 20px;
	background: #ffcc01 url(../images/wave3.jpg) repeat-x 0 -12px;
	/*border-top: solid 1px red;*/
	/*border-bottom: solid 1px #fcf7d9;*/
}
.app-bg{
	height: 300px;
	background: #fcf7d9;
}
.app-title{
	/*border: solid 1px red;*/
	height: 29px;
	line-height: 29px;
	background: url(../images/app-title3.png) no-repeat;
	padding-left: 10px;
	font-size: 18px;
	color: #fff;
	margin: 15px 0;
}
/*-------------------------------------------------------------------------------*/
.app-ul{
	/*width: 95%;*/
	margin:0 10px;
	/*margin: 0 auto;*/
	border: solid 1px #e6e3d1;
	/*display:-webkit-box;*/
	overflow: hidden;
}
.app-ul li{
	display: block;
	/*border: solid 1px green;*/
	/*background: green;*/
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	/*padding: 6px 0;*/
	width: 50%;
	/*height: 65px;*/
	float: left;
	overflow: hidden;
	display:-webkit-box;
	/*border-top:solid 1px #e6e3d1;*/
	border-bottom:solid 1px #e6e3d1;
	padding: 5px;
	position: relative;
}
/*.app-ul li:nth-child(1),.app-ul li:nth-child(2){
	border-top:none;
}*/
.app-ul li:nth-last-child(1),.app-ul li:nth-last-child(2){
	border-bottom:none;
}
.app-ul li:nth-child(1n){
	border-right:solid 1px #e6e3d1;
}

.ico-main {
	display: block;
	width: 48px;
	height: 48px;
	/*border: solid 1px orange;*/
	-webkit-border-radius:7.5px;
	-moz-border-radius:7.5px;
	-ms-border-radius:7.5px;
	-o-border-radius:7.5px;
	border-radius:7.5px;
	background-clip:padding-box;
	-moz-box-flex: 0; 
 	-webkit-box-flex: 0; 
  	box-flex: 0;

}
.ico-main img{
	width: 100%;
	height: auto;
}
.app-parameter{
	-moz-box-flex: 1; 
 	-webkit-box-flex: 1; 
  	box-flex: 1;

	/*border: solid 1px red;*/
	margin-left: 5px;
}
.apk-title{
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color: #54534f;
}
.star-main{
	/*border: solid 1px blue;*/
	height: 22px;
	background-image: url(../images/star2.png);
	background-repeat: no-repeat;
	background-position: 0 -13px;
}
.apk-size{
	font-size: 12px;
	color: #91918d;
}
.download-bt{
	display: block;
	border: solid 1px #009bfe;
	width: 30px;
	height: 18px;
	font-size: 12px;
	color: #009bfe;
	text-align: center;
	line-height: 18px;
	position: absolute;
	right: 5px;
	bottom: 5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	background-clip:padding-box;
}

/*---------------------------------------------------------------------------------*/

/*遮罩层*/
 .black_overlay {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    background-color: #000;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
/*   _background-color: #bababa;
   _height: 800px;*/

}

/*图片弹窗预览*/

.popup {
    display: none;
    width: 90%;
    /*height: 300px;*/
    background:#f2f2f2; 
    z-index: 1002;
    /*border: solid 1px red;*/
    -webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-clip:padding-box;
}
.pop-tile{
	font-size: 18px;
	height: 45px;
	line-height: 45px;
	color: #333333;
	text-align: center;
	border-bottom:solid 1px #c4c4c4;
}
.close-bt{
	display: block;
	width: 25px;
	height: 25px;
	float: right;
	/*border: solid 1px red;*/
	margin: 10px 10px 0 0;
}
.close-bt img{
	width: 100%;
	height: auto;
}
.popup-main{
	/*border: solid 1px red;*/
	margin:10px;
	min-height: 80px;
}
.sub-bg{
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	border-top:solid 1px #c4c4c4;
	
}
/*---------------------------------------------------*/
.use-main{
	font-size: 16px;
	line-height: 25px;
	color: #999999;
}
.use-font{
	color: #000;
	font-size: 16px;
	line-height: 25px;
}
.detail-main p{
	font-size: 14px;
	line-height: 22px;
	color: #999999;
}
.i-know{
	height: 50px;
	background: #ff1f0e;
	text-align: center;
	color: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-clip:padding-box;
}