<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lotteryMapper">

	<select id="selectLotteryRecords" resultType="lotteryRecord">
		select * from t_lottery_record order by lottery_grade limit 0,10
	</select>

	<insert id="addLotteryRecords" parameterType="lotteryRecord">
		insert into t_lottery_record(userId,lottery_date,sn,lottery_grade)
		values(#{userId},#{lottery_date},#{sn},#{lottery_grade})
	</insert>

	<select id="addLotteryDownloadRecord" resultType="lotteryDownloadRecord">
		insert into t_lottery_download(userId,app_id)
		values(#{userId},#{appId})
	</select>

	<select id="countUserDownloadRecord" parameterType="string">
		select count(*) from t_lottery_download where userId = #{userId}
	</select>
	
	<insert id="addClickRecords" parameterType="lotteryClickRecord">
		insert into t_lottery_click(userId,click_date)
		values(#{userId},#{clickDate})
	</insert>
	<select id="countClickRecords" parameterType="String">
		select count(*) from t_lottery_click where clickDate=#{date} group by userId;
	</select>
</mapper>