<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	</settings>
	<typeAliases> 
        <typeAlias alias="appInfo" type="com.bbkmobile.iqoo.interfaces.lottery.vo.AppInfo"/> 
        <typeAlias alias="lotteryRecord" type="com.bbkmobile.iqoo.interfaces.lottery.vo.LotteryRecord"/> 
        <typeAlias alias="lotteryDownloadRecord" type="com.bbkmobile.iqoo.interfaces.lottery.vo.LotteryDownloadRecord"/>
        <typeAlias alias="lotteryClickRecord" type="com.bbkmobile.iqoo.interfaces.lottery.vo.LotteryClickRecord"/>
        <typeAlias alias="lotteryUserInfo" type="com.bbkmobile.iqoo.interfaces.lottery.vo.LotteryUserInfo"/>
        
        <typeAlias alias="lottery" type="com.bbkmobile.iqoo.common.lottery.Lottery"/>
    </typeAliases> 
</configuration>   